{% extends 'base.html' %}
{% block main %}
<div class="card">
    <div class="card-title d-flex justify-content-center">
        <h3 class="text-darker">Gerenciamento | Empresa</h3>
    </div>

    <div class="card-header d-flex">
        <div class="mr-auto p-2"><h3 class="text-darker">Seja bem vindo(a): {{ usuario.funcionario.nome }}!</h3></div>
        <div class="p-2">
            <button type="submit" class="btn btn-danger"><a href="{% url 'logout' %}" class="text-white">Logout</a>
            </button>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-striped table-responsive-lg">
            <thead class="thead-light">
            <tr>
                <th>Criar/Editar Empresa</th>
                <th>Gerenciar Departamentos</th>
                <th>Gerenciar Funcionários</th>
                <th>Gerenciar Banco De Horas</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{% if usuario.funcionario.empresas %}
                    <a href="{% url 'edit_empresa' usuario.funcionario.empresas.id %}">Editar Empresa</a>
                    {% else %}
                    <a href="{% url 'create_empresa' %}">Criar Empresa</a>
                    {% endif %}
                </td>
                <td><a href="{% url 'list_departamentos' %}">Departamentos</a></td>
                <td><a href="{% url 'list_funcionarios' %}">Funcionários</a></td>
                <td><a href="{% url 'list_hora_extra' %}">Banco De Horas</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
