{% extends 'base.html' %}
{% block main %}
<div class="card">
    <div class="card-title d-flex justify-content-center">
        <h3 class="text-darker">Gerenciamento | Funcionários</h3>
    </div>

    <div class="card-header d-flex">
        <div class="mr-auto p-2"><h3 class="text-darker">Funcionários Da Empresa:</h3></div>
    </div>

    <div class="card-body">
        <table class="table table-striped table-responsive-lg">
            <thead class="thead-light">
            <tr>
                <th>Editar Funcionário</th>
                <th>Deletar Funcionário</th>
            </tr>
            </thead>
            <tbody>
            {% for funcionario in object_list %}
            <tr>
                <td><a href="{% url 'update_funcionario' funcionario.id %}">{{ funcionario.nome }}</a></td>
                <td><a href="{% url 'delete_funcionario' funcionario.id %}" class="text-danger">Deletar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary"><a href="{% url 'create_funcionario' %}" class="text-white">Criar Funcionário</a></button>
        <button type="submit" class="btn btn-info"><a href="{% url 'relatorio_funcionarios' %}" class="text-white">Relatório PDF</a></button>
        <button type="submit" class="btn btn-info"><a href="{% url 'relatorio_funcionarios_html' %}" class="text-white">Relatório PDF HTML</a></button>
        <button type="submit" class="btn btn-danger"><a href="{% url 'home' %}" class="text-white">Voltar</a></button>
    </div>
</div>
{% endblock %}








