{% extends 'base.html' %}
{% block main %}
<div class="card">
    <div class="card-title d-flex justify-content-center">
        <h3 class="text-darker">Deletar | Banco De Horas</h3>
    </div>
    <div class="card-header d-flex">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <div class="mr-auto p-2"><h3 class="text-darker">Você tem certeza que quer deletar o banco de horas: {{ object }}?</h3>
                <button type="submit" class="btn btn-danger">Confirmar</button>
                <button type="submit" class="btn btn-primary"><a href="{% url 'list_hora_extra' %}" class="text-white">Voltar</a></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}