{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}
<div class="card">
    <div class="card-title d-flex justify-content-center">
        <h3 class="text-darker">Criar/Editar | Departamento</h3>
    </div>
    <div class="card-header d-flex">
        <form method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
             <div class="mr-auto p-2">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="submit" class="btn btn-danger"><a href="{% url 'list_departamentos' %}" class="text-white">Voltar</a></button>
             </div>
        </form>
    </div>
</div>
{% endblock %}



